# Agent files
## Change this, if you need specific folders inside
## Skills should be not commited, but added through npx skills
.claude/*
!.claude/settings.json

# Editor
.vscode-test
.idea

*.osm
*.pbf
*.log
.env
.env.local
.env.deploy.generated
*.DS_Store

/node_modules
processing/node_modules
